:root {
	--icon-default-color: #666666;
	--icon-highlight-color: #111111;
	--text-default-color: #284B03;
	--text-subtitle-color: #fff;
	--text-disable-color: #fff;
	--lyric-default-color: #507B23;
	--lyric-on-cover-color: #bbbbbb;
	--lyric-important-color: #ffffff;
	--lyric-important-on-cover-color: #ffffff;
	--link-default-color: #fff;
	--link-highlight-color: #ffffff;
	--link-active-color: #ffffff;
	--link-inactive-color: rgba(255, 255, 255, 0.75);
	--line-default-color: #407709;
	--sidebar-background-color: #80BD8D;
	--sidebar-highlight-background-color: #398549;
	--sidebar-highlight-text-color: #ffffff;
	--sidebar-hover-background-color: #599F68;
	--sidebar-hover-text-color: #ffffff;
	--content-background-color: #AAD8B4;
	--foot-background-color: #5B8945;
	--foot-border-color: #407709;
	--footer-main-background-color: #5B8945;
	--footer-player-bar-background-color: #333333;
	--footer-player-bar-cur-background-color: #e0e0e0;
	--footer-header-background-color: #333333;
	--footer-menu-even-background-color: #6BB04B;
	--footer-menu-hover-background-color: #7ADB4B;
	--search-input-background-color: #60A06E;
	--footer-player-bar-cur-button-color: #111111;
	--window-control-border-color: #dddddd;
	--important-color: #fff;
	--button-background-color: #6EAE7C;
	--button-border-color: #335C09;
	--button-hover-background-color: #74D98A;
	--now-playing-page-background-color: #90C69B;
	--now-playing-close-icon-color: #333333;
	--disable-song-title-color: #b7b7b7;
	--windows-border-color: #333333;
	--default-border-radius: 2px;
	--text-default-size: 13px;
	--h2-title-font-size: 24px;
	--badge-font-size: 12px;
	--badge-font-color: #c3473a;
	--badge-border-color: #843932;
	--songlist-odd-background-color: #81C38F;
	--songlist-border-color: transparent;
	--songlist-hover-background-color: #B2E8BE;
	--player-left-icon-color: #ffffff;
	--player-icon-color: #ffffff;
	--player-icon-hover-color: #eeeeee;
	--player-right-icon-color: #ffffff;
	--player-right-icon-hover-color: #eeeeee;
	--player-icon-hightlight-color: #eeeeee;
	--dialog-highlight-color: #444444;
	--dialog-background-color: #7DB88A;
	--dialog-text-color: #ffffff;
	--volume-icon-color: #fff;
	--volume-bar-background-color: #333333;
	--volume-bar-current-background-color: #e0e0e0;
	--scroll-color: #444444;
	--lyric-icon-background-color: #222222;
	--lyric-font-size: 15px;
	--lyric-line-margin: 20px;
}
