:root {
	--icon-default-color: #666666;
	--icon-highlight-color: #111111;
	--text-default-color: #CD1161;
	--text-subtitle-color: #fff;
	--text-disable-color: #D34682;
	--lyric-default-color: #fff;
	--lyric-on-cover-color: #bbbbbb;
	--lyric-important-color: #ffffff;
	--lyric-important-on-cover-color: #ffffff;
	--link-default-color: #A75176;
	--link-highlight-color: #ffffff;
	--link-active-color: #ffffff;
	--link-inactive-color: rgba(255, 255, 255, 0.75);
	--line-default-color: #B21659;
	--sidebar-background-color: #F377AC;
	--sidebar-highlight-background-color: #EC3784;
	--sidebar-highlight-text-color: #ffffff;
	--sidebar-hover-background-color: #E45F98;
	--sidebar-hover-text-color: #ffffff;
	--content-background-color: #F29EC2;
	--foot-background-color: #C5628D;
	--foot-border-color: #C93273;
	--footer-main-background-color: #C5628D;
	--footer-player-bar-background-color: #333333;
	--footer-player-bar-cur-background-color: #e0e0e0;
	--footer-header-background-color: #C5628D;
	--footer-menu-even-background-color: #DE88AD;
	--footer-menu-hover-background-color: #F78BB9;
	--search-input-background-color: #803A57;
	--footer-player-bar-cur-button-color: #e0e0e0;
	--window-control-border-color: #dddddd;
	--important-color: #fff;
	--button-background-color: #F078AA;
	--button-border-color: #F078AA;
	--button-hover-background-color: #FD5AA0;
	--now-playing-page-background-color: #F65EA0;
	--now-playing-close-icon-color: #fff;
	--disable-song-title-color: #b7b7b7;
	--windows-border-color: #333333;
	--default-border-radius: 2px;
	--text-default-size: 13px;
	--h2-title-font-size: 24px;
	--badge-font-size: 12px;
	--badge-font-color: #c3473a;
	--badge-border-color: #843932;
	--songlist-odd-background-color: #F787B7;
	--songlist-border-color: transparent;
	--songlist-hover-background-color: #F84D96;
	--player-left-icon-color: #fff;
	--player-icon-color: #fff;
	--player-icon-hover-color: #eeeeee;
	--player-right-icon-color: #fff;
	--player-right-icon-hover-color: #eeeeee;
	--player-icon-hightlight-color: #eeeeee;
	--dialog-highlight-color: #444444;
	--dialog-background-color: #EE287E;
	--dialog-text-color: #ffffff;
	--volume-icon-color: #fff;
	--volume-bar-background-color: #333333;
	--volume-bar-current-background-color: #e0e0e0;
	--scroll-color: #444444;
	--lyric-icon-background-color: #222222;
	--lyric-font-size: 15px;
	--lyric-line-margin: 20px;
}
