:root {
	--icon-default-color: #666666;
	--icon-highlight-color: #111111;
	--text-default-color: #ffffff;
	--text-subtitle-color: #fff;
	--text-disable-color: #fff;
	--lyric-default-color: #EAEAEA;
	--lyric-on-cover-color: #bbbbbb;
	--lyric-important-color: #ffffff;
	--lyric-important-on-cover-color: #ffffff;
	--link-default-color: #fff;
	--link-highlight-color: #ffffff;
	--link-active-color: #ffffff;
	--link-inactive-color: rgba(255, 255, 255, 0.75);
	--line-default-color: #B28F06;
	--sidebar-background-color: #D7AC07;
	--sidebar-highlight-background-color: #AD8C0E;
	--sidebar-highlight-text-color: #ffffff;
	--sidebar-hover-background-color: #F3C40C;
	--sidebar-hover-text-color: #ffffff;
	--content-background-color: #EFC006;
	--foot-background-color: #9D8117;
	--foot-border-color: #8C7418;
	--footer-main-background-color: #9D8117;
	--footer-player-bar-background-color: #333333;
	--footer-player-bar-cur-background-color: #e0e0e0;
	--footer-header-background-color: #333333;
	--footer-menu-even-background-color: #C8A524;
	--footer-menu-hover-background-color: #E2BF3B;
	--search-input-background-color: #A18102;
	--footer-player-bar-cur-button-color: #111111;
	--window-control-border-color: #dddddd;
	--important-color: #fff;
	--button-background-color: #CDA50B;
	--button-border-color: #FDD432;
	--button-hover-background-color: #FDD432;
	--now-playing-page-background-color: #E2BB21;
	--now-playing-close-icon-color: #fff;
	--disable-song-title-color: #b7b7b7;
	--windows-border-color: #333333;
	--default-border-radius: 2px;
	--text-default-size: 13px;
	--h2-title-font-size: 24px;
	--badge-font-size: 12px;
	--badge-font-color: #c3473a;
	--badge-border-color: #843932;
	--songlist-odd-background-color: #CFAA16;
	--songlist-border-color: transparent;
	--songlist-hover-background-color: #FDD948;
	--player-left-icon-color: #ffffff;
	--player-icon-color: #ffffff;
	--player-icon-hover-color: #eeeeee;
	--player-right-icon-color: #ffffff;
	--player-right-icon-hover-color: #eeeeee;
	--player-icon-hightlight-color: #eeeeee;
	--dialog-highlight-color: #444444;
	--dialog-background-color: #EFC00B;
	--dialog-text-color: #ffffff;
	--volume-icon-color: #fff;
	--volume-bar-background-color: #333333;
	--volume-bar-current-background-color: #e0e0e0;
	--scroll-color: #444444;
	--lyric-icon-background-color: #222222;
	--lyric-font-size: 15px;
	--lyric-line-margin: 20px;
}
