:root {
	--icon-default-color: #666666;
	--icon-highlight-color: #111111;
	--text-default-color: #ffffff;
	--text-subtitle-color: #fff;
	--text-disable-color: #fff;
	--lyric-default-color: #e0e0e0;
	--lyric-on-cover-color: #bbbbbb;
	--lyric-important-color: #ffffff;
	--lyric-important-on-cover-color: #ffffff;
	--link-default-color: #fff;
	--link-highlight-color: #ffffff;
	--link-active-color: #ffffff;
	--link-inactive-color: rgba(255, 255, 255, 0.75);
	--line-default-color: #0358ad;
	--sidebar-background-color: #3c90e4;
	--sidebar-highlight-background-color: #0367cb;
	--sidebar-highlight-text-color: #ffffff;
	--sidebar-hover-background-color: #0879e9;
	--sidebar-hover-text-color: #ffffff;
	--content-background-color: #144d87;
	--foot-background-color: #0065c9;
	--foot-border-color: #0358ad;
	--footer-main-background-color: #0065c9;
	--footer-player-bar-background-color: #333333;
	--footer-player-bar-cur-background-color: #e0e0e0;
	--footer-header-background-color: #333333;
	--footer-menu-even-background-color: #2d2d2d;
	--footer-menu-hover-background-color: #333333;
	--search-input-background-color: #072D53;
	--footer-player-bar-cur-button-color: #111111;
	--window-control-border-color: #dddddd;
	--important-color: #fff;
	--button-background-color: #0169d1;
	--button-border-color: #0358ad;
	--button-hover-background-color: #2C9AFF;
	--now-playing-page-background-color: #2187EC;
	--now-playing-close-icon-color: #b3b3b3;
	--disable-song-title-color: #b7b7b7;
	--windows-border-color: #333333;
	--default-border-radius: 2px;
	--text-default-size: 13px;
	--h2-title-font-size: 24px;
	--badge-font-size: 12px;
	--badge-font-color: #c3473a;
	--badge-border-color: #843932;
	--songlist-odd-background-color: #1663b1;
	--songlist-border-color: transparent;
	--songlist-hover-background-color: #5caeff;
	--player-left-icon-color: #ffffff;
	--player-icon-color: #ffffff;
	--player-icon-hover-color: #eeeeee;
	--player-right-icon-color: #ffffff;
	--player-right-icon-hover-color: #eeeeee;
	--player-icon-hightlight-color: #eeeeee;
	--dialog-highlight-color: #444444;
	--dialog-background-color: #067cf3;
	--dialog-text-color: #ffffff;
	--volume-icon-color: #fff;
	--volume-bar-background-color: #333333;
	--volume-bar-current-background-color: #e0e0e0;
	--scroll-color: #444444;
	--lyric-icon-background-color: #222222;
	--lyric-font-size: 15px;
	--lyric-line-margin: 20px;
}