html,
body {
  font-size: var(--text-default-size);
  /* font-size: 14px; */
  color: var(--text-default-color);
  font-family: -apple-system, 'Helvetica Neue', Helvetica, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', system-ui, sans-serif;
}

.wrap {
  /* https://stackoverflow.com/questions/28897089/z-index-on-borders */
  outline: solid 1px var(--windows-border-color);
}

/* remove focus highlight */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input,
svg,
.icon {
  -webkit-app-region: no-drag;
}

button {
  background-color: var(--button-background-color);
  color: var(--text-default-color);
  /* border: solid 1px var(--button-background-color); */
  border: none;
  border-radius: var(--default-border-radius);
  padding: 5px;
  min-width: 80px;
  min-height: 32px;
}
button:hover {
  background-color: var(--button-hover-background-color);
}
img {
  -webkit-user-drag: none;
}

.l1-button {
  background-color: var(--button-background-color);
  color: var(--text-default-color);
  border-radius: var(--default-border-radius);
  padding: 5px;
  margin-right: 4px;
  color: var(--text-default-color);
  cursor: pointer;
  display: inline-block;
}
.l1-button:hover {
  background: var(--button-hover-background-color);
}

.icon {
  /* default icon settings */
  font-size: 16px;
  cursor: pointer;
}

/* tools utils */
.flex-scroll-wrapper {
  height: 100px;
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-color) var(--content-background-color);
}

/* scroll bar style */
::-webkit-scrollbar {
  width: 14px;
  height: 18px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  height: 49px;
  border: 5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  background-color: var(--scroll-color);
  /*rgba(151, 151, 151, 0.4);*/

  /*    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);*/
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

/*****************************************************************/

/* page song detail start */

/* .page .songdetail-wrapper .window-control {
  position: absolute;
  top: 24px;
  left: 55px;
  height: 24px;
  cursor: pointer;
  -webkit-app-region: no-drag;
  z-index: 99;
}

.page .songdetail-wrapper .window-control svg {
  margin-left: 8px;
  stroke: var(--now-playing-close-icon-color);
}

.page .songdetail-wrapper .close svg {
  stroke: var(--now-playing-close-icon-color);
} */

/* ul.detail-songlist {
  padding: 0 25px;
  position: relative;
}

ul.detail-songlist .playlist-search {
  position: absolute;
  right: 0;
  top: -30px;
}
ul.detail-songlist .playlist-search .playlist-search-icon {
  width: 14px;
  position: absolute;
  left: 7px;
  top: 1px;
}
ul.detail-songlist .playlist-search .playlist-clear-icon {
  width: 14px;
  position: absolute;
  left: 158px;
}
ul.detail-songlist .playlist-search .playlist-search-input {
  margin-right: 28px;
  margin-bottom: 10px;
  border: none;
  height: 24px;
  border-radius: 12px;
  padding: 0 30px;
  background: var(--content-background-color);
  color: #bbbbbb;
  width: 120px;
}
ul.detail-songlist .playlist-search .playlist-search-input:hover {
  background-color: var(--songlist-odd-background-color);
}
ul.detail-songlist .playlist-search .playlist-search-input::placeholder {
  color: #bbbbbb;
} */

ul.detail-songlist li {
  /* https://stackoverflow.com/questions/4157005/css-positioning-z-index-negative-margins */
  position: relative;
  display: flex;
  border-top: solid 2px var(--songlist-border-color);
  border-bottom: solid 2px var(--songlist-border-color);
  height: 41px;
  align-items: center;
  padding: 0 20px;
  font-size: 14px;
  margin-bottom: -2px;
}

ul.detail-songlist li.playlist-result {
  height: 80px;
  padding: 0 10px;
}
ul.detail-songlist li.odd {
  background-color: var(--songlist-odd-background-color);
}

ul.detail-songlist li:hover,
ul.detail-songlist li.odd:hover {
  background-color: var(--songlist-hover-background-color);
}

ul.detail-songlist li a {
  cursor: pointer;
}
ul.detail-songlist li a.disabled {
  color: var(--disable-song-title-color);
}
ul.detail-songlist li a span.source {
  border: solid 1px #ccc;
  border-radius: 4px;
  margin-right: 10px;
  display: inline-block;
  padding: 0 4px;
  color: #ccc;
  font-size: 12px;
  width: 24px;
  text-align: center;
}
ul.detail-songlist li a span.source.playlist {
  margin-left: 10px;
  margin-right: 0;
}
ul.detail-songlist li.head {
  height: 28px;
  color: var(--text-disable-color);
  border-top: none;
  padding-bottom: 2px;
}
ul.detail-songlist li.head:hover {
  background-color: transparent;
}

ul.detail-songlist li .title {
  flex: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  line-height: 17px;
  max-height: 38px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
ul.detail-songlist li .title .vue-feather {
  margin-right: 10px;
  cursor: pointer;
}
ul.detail-songlist li.playlist-result .title {
  max-height: 80px;
}

ul.detail-songlist li.playlist-result .title a {
  display: flex;
  align-items: center;
}

ul.detail-songlist li.playlist-result .title img {
  height: 60px;
  width: 60px;
  display: block;
  margin-right: 10px;
}

ul.detail-songlist li .artist {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 17px;
  max-height: 38px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

ul.detail-songlist li .album {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 17px;
  max-height: 38px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

ul.detail-songlist li .tools {
  flex: 0 0 110px;
  display: flex;
  align-items: center;
}
ul.detail-songlist li .tools .icon {
  height: 16px;
  width: 16px;
  color: #9d9d9d;
  margin-top: 2px;
  margin-right: 10px;
}
/* page song detail end */

/* .page .settings-content {
  margin: 0 25px 25px 25px;
} */
/* .page .settings-content label.upload-button {
  padding: 5px;
  background: var(--button-background-color);
  margin-right: 4px;
  color: var(--text-default-color);
  cursor: pointer;
}

.page .settings-content label.upload-button:hover {
  background: var(--button-hover-background-color);
} */

/* .page .settings-content .shortcut {
  display: flex;
  margin-top: 10px;
}
.page .settings-content .shortcut svg {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.page .searchbox .search-pagination {
  text-align: center;
  padding: 15px;
}
.page .settings-content .shortcut_table .shortcut_table-header,
.page .settings-content .shortcut_table .shortcut_table-line {
  display: flex;
  color: var(--text-default-color);
  box-sizing: border-box;
  align-items: center;
  height: 40px;
}
.page .settings-content .shortcut_table .shortcut_table-header {
  color: var(--link-default-color);
  height: 30px;
}
.page .settings-content .shortcut_table .shortcut_table-function {
  flex: 0 140px;
  padding: 0 10px;
  box-sizing: border-box;
}
.page .settings-content .shortcut_table .shortcut_table-key {
  flex: 0 200px;
  margin-right: 20px;
  box-sizing: border-box;
}
.page .settings-content .shortcut_table .shortcut_table-globalkey {
  flex: 0 240px;
  box-sizing: border-box;
}
.page .settings-content .shortcut_table .shortcut_table-line .shortcut_table-key {
  border: solid 1px var(--button-border-color);
  border-radius: 5px;
  padding: 0 10px;
  height: 30px;
  display: flex;
  align-items: center;
}
.page .settings-content .shortcut_table .shortcut_table-line .shortcut_table-globalkey {
  border: solid 1px var(--button-border-color);
  border-radius: 5px;
  height: 30px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.page .settings-content .custom-proxy {
  margin-top: 10px;
}
.page .settings-content .custom-proxy .rule-input {
  margin-top: 8px;
}
.page .settings-content .custom-proxy input {
  margin-right: 15px;
  height: 24px;
  width: 200px;
} */
/* .page .settings-content .search-description {
  margin: 10px 0 5px 0;
}
.page .settings-content .search-source-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  line-height: 30px;
}
.page .settings-content .search-source-list .search-source {
  display: flex;
  align-items: center;
  width: 130px;
}
.page .settings-content .search-source-list .search-source svg {
  width: 18px;
  height: 18px;
  margin-right: 4px;
} */
/* page setting end */
