html,
body {
  font-size: var(--text-default-size);
  /* font-size: 14px; */
  color: var(--text-default-color);
  font-family: -apple-system, 'Helvetica Neue', Helvetica, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', system-ui, sans-serif;
}

.wrap {
  /* https://stackoverflow.com/questions/28897089/z-index-on-borders */
  outline: solid 1px var(--windows-border-color);
}

/* remove focus highlight */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input,
svg,
.icon {
  -webkit-app-region: no-drag;
}

button {
  background-color: var(--button-background-color);
  color: var(--text-default-color);
  /* border: solid 1px var(--button-background-color); */
  border: none;
  border-radius: var(--default-border-radius);
  padding: 5px;
  min-width: 80px;
  min-height: 32px;
}
button:hover {
  background-color: var(--button-hover-background-color);
}
img {
  -webkit-user-drag: none;
}

.l1-button {
  background-color: var(--button-background-color);
  color: var(--text-default-color);
  border-radius: var(--default-border-radius);
  padding: 5px;
  margin-right: 4px;
  color: var(--text-default-color);
  cursor: pointer;
  display: inline-block;
}
.l1-button:hover {
  background: var(--button-hover-background-color);
}

.icon {
  /* default icon settings */
  font-size: 16px;
  cursor: pointer;
}

/* tools utils */
.flex-scroll-wrapper {
  height: 100px;
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-color) var(--content-background-color);
}

/* scroll bar style */
::-webkit-scrollbar {
  width: 14px;
  height: 18px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  height: 49px;
  border: 5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  background-color: var(--scroll-color);
  /*rgba(151, 151, 151, 0.4);*/

  /*    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);*/
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

/*****************************************************************/
